<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Jhilldt" connectionString="Data Source=jhilldt\sqlexpress;Initial Catalog=TestSandbox;User ID=sa;Password=P@ssword01;MultipleActiveResultSets=True"/>
    <add name="NpgSqlDb" connectionString="" providerName="Npgsql" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>