<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlDb" connectionString="Data Source=jhilldt\sqlexpress;Initial Catalog=TestSandbox;User ID=sa;Password=P@ssword01;MultipleActiveResultSets=True"/>
    <add name="NpgSqlDb" connectionString="" providerName="Npgsql" />
  </connectionStrings>
</configuration>